@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
a{
    color: #ffffff;
    text-decoration: none;
}
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    animation: show-content 1.5s linear forwards;
    animation-delay: 1.2s;
}
@keyframes show-content {
    100%{
        visibility: visible;
        opacity: 1;
    }
    
}

@keyframes display-text {
    25%,100%{
        display: none;

    }
}
.navbar ul{
    display: flex;
    list-style: none;
    margin-left: 20px;
    gap: 20px;
}

.navbar ul li a{
    color: white;
    font-size: 20px;
    font-weight: 500;
    transition: 0.5s ease;
}

.navbar .logo{
    color: white;
    font-size: 30px;
    font-weight: 700;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.navbar ul li a:hover,
.navbar ul li.active a{
    color: rgb(21, 204, 254);
}

.home{
    
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 60px 9% 0;
    gap: 50px;
    color: white;
    visibility: hidden;
    opacity: 0;
    animation: show-content 1.5s linear forwards;
    animation-delay: 1.3s;

}
.home-info h1{
    font-size: 55px;
}
.home-info h2{
    display: inline-block;
    font-size: 32px;
    margin-top: -10px;
    background-color: rgb(1, 76, 76);
}
.home-info h2 span{
    display: inline-block;
    color: transparent;
    -webkit-text-stroke: .7px rgb(21, 204, 254);
    animation: display-text 16s linear infinite;
    animation-delay: calc(-4s*var(--i));
}
.home-info p{
    font-size: 18px;
    margin: 20px 0 25px;
    
}
.home-info .btn-sci{
    display: flex;
    align-items: center;
    gap: 20px;
}
.btn{
    display: inline-block;
    padding: 10px 30px;
    background: rgb(21, 204, 254); 
    border: 2px solid rgb(21, 204, 254);
    border-radius: 30px;
    box-shadow: 0 0 10px;
    font-size: 16px;
    color: white;
    font-weight: 600;
    transition: 0.5s ease; 

}
.btn:hover{
    background: transparent;
    color: rgb(21, 204, 254);
    box-shadow: 0 0 10px rgb(21, 204, 254);
}

.home-info .btn-sci .sci{
    margin-left: 20px;
    font-size: 20px;
    color: white;
    transition: 0.5s ease;
}
.home-info .btn-sci .sci a{
    display: inline-flex;
    padding: 8px;
    border: 2px solid rgb(21, 204, 254);
    border-radius: 50%;
    font-size: 20px;
    color: rgb(21, 204, 254);
    margin: 0 8px;
    transition: 0.5s ease;
}
.home-info .btn-sci .sci a:hover{
    background: rgb(21, 204, 254);
    color: rgb(0, 0, 0);
    box-shadow: 0 0 10px rgb(21, 204, 254);
}
.home-img .img-box{
    position: relative; 
    width: 32vw;
    height:32vw;
    padding: 5px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.home-img .img-box::before,
.home-img .img-box::after{
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background: conic-gradient(transparent, transparent, transparent, rgb(21, 204, 254));
}

.home-img .img-box .img-item{
    width: 100%;
    height: 100%;
    background: transparent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
    z-index: 1;
}

.home-img .img-box .img-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    mix-blend-mode: lighten;
}

.bars-animation{
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    z-index: -1;
}
.bars-animation .bar{
    width: 100%;
    height: 100%;
    background: #1f242d;
    
    transform: translateY(-100%);

    animation: show-bars .5s ease-in-out forwards;
    animation-delay: calc(.1s*var(--i));
}
@keyframes show-bars {
    100%{
        transform: translateY(0%);
    }
}